{% extends "base.html" %}{% load static %} {% block style %}<link
  rel="stylesheet"
  href="{% static 'css/todo.css' %}"
/>{% endblock style %}{% block title %}Create{% endblock title %} {% block body %}
{% include 'navbar.html' %}

<div class="wrapper">
  <div class="wrapper_next">
    <h2>Create Task</h2>
    <form action="{% url 'create_task' %}" method="post">
      {% csrf_token %}
      <div class="input-box">
        <input type="text" name="title" placeholder="Enter Task title" required />
      </div>
      <div class="input-box date">
        <label>Completition Date</label>
        <input
          type="date"
          placeholder="Enter Completition Date"
          name="completition_date"
        />
      </div>
      <div class="input-box button">
        <input type="submit" value="Create" />
      </div>
    </form>
  </div>

</div>


{% endblock %}
