{% extends "base.html" %}{% load static %} {% block style %}<link rel="stylesheet" href="{% static 'css/todo.css' %}">
{% endblock style %}{% block title %}Update{% endblock title %} {% block body %}
  <nav>
    <form action="{% url 'signout' %}" method="post">
      {% csrf_token %}
      <button type="submit" class="logout-btn">Logout</button>
    </form>
  </nav>
  <div class="wrapper">
    <h2>Task Update</h2>
    <form method="post">
      {% csrf_token %}
      <div class="input-box">
        <input type="text" name="title" placeholder="Enter updated task title"  value="{{ task.title }}" required>
      </div>
      <div class="input-box">
        <label for="password">Completion Date :</label>
        <input type="date" name="completion_date" required>
      </div>
      <div class="input-box button">
        <input type="submit" value="Update"/>
      </div>
    </form>
  </div>
  {% endblock %}
