{% extends "base.html" %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/todo.css' %}">
{% endblock style %}

{% block title %}Update{% endblock title %}

{% block body %}
{% include 'navbar.html' %}

<div class="wrapper">
  <div class="wrapper_next">
    <h2>Update Task</h2>
    <form action="{% url 'update_task' task.id %}" method="post">
      {% csrf_token %}
      <div class="input-box">
        <input type="text" name="title" placeholder="Enter updated task title" value="{{ task.title }}" required>
      </div>
      <div class="input-box date">
        <label for="completion_date">Completion Date :</label>
        <input type="date" name="completion_date" value="{{ task.completion_date }}" required>
      </div>
      <div class="input-box button">
        <input type="submit" value="Update">
      </div>
    </form>
  </div>
</div>

{% endblock %}
